@using Hotel.Data.Models;

@model Hotel.Web.Areas.ModulRestoran.ViewModels.PrikaziStavkeVM
@{
    Layout = "LayoutBezFootera";
    ViewData["Title"] = "PrikaziStavke";
    
}
<h2>Stavke</h2>

<table class="table table-striped">
    <tr>
        <th>Proizvod</th>
        <th>Vrsta</th>
        <th>Količina</th>
        <th>Mjerna jedinica</th>
        <th>Akcija</th>
    </tr>
    @foreach (Stavke s in Model.Stavke)
    {
        <tr>
            <td>@s.Proizvodi.Naziv</td>
            <td>@s.Proizvodi.Vrsta</td>
            <td>@s.Kolicina</td>
            <td>@s.Proizvodi.MjernaJedinica</td>
            <td><a href="/ModulRestoran/Stavke/ObrisiStavku?Id=@s.Id" class="btn btn-danger" ajax-poziv="da" ajax-rezultat="ajaxDiv">Obriši</a></td>
        </tr>
    }
    <tr>
    <td><a href="/ModulRestoran/Proizvod/PrikaziZalihe" class="btn btn-danger">Završi</a></td>
    </tr>
</table>

