@{
    Layout = "LayoutBezFootera";
    ViewData["Title"] = "DodajPogodnostZaSmjestaj";
}
@model Hotel.Web.Areas.ModulAdministracija.ViewModels.NovaPogodnostZaSmjestajVM

<form action="/ModulAdministracija/Pogodnost/SnimiPogodnostZaSmjestaj">
    <table>
        <tr>
            <td>@Html.HiddenFor(x=>x.smjestajID)</td>
        </tr>
        <tr>
            <td>Odaberite pogodnost</td>
            <td>@Html.DropDownListFor(x=>x.StavkaPogodnosti,Model._stavke, new { @class = "form-control" })</td>
            <td><span style="color:red">@Html.ValidationMessageFor(x => x.StavkaPogodnosti)</span></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Spremi" class="btn btn-success" />  </td>

        </tr>
    </table>
</form>
