
@{
    Layout = "_LayoutAjax";
    ViewData["Title"] = "Dodaj";
}
@model Hotel.Web.Areas.ModulAdministracija.ViewModels.NovaPogodnostVM
<form action="/ModulAdministracija/Pogodnost/Snimi">
    <table>
        <tr>
            <td>Opis</td>
            <td>@Html.TextBoxFor(x=>x.Opis , new{ @class = "form-control" })</td>
            <td><span style="color:red">@Html.ValidationMessageFor(x => x.Opis)</span></td>
        </tr>
        <tr>
            <td>
                <input type="submit"value="Sačuvaj" class="btn btn-success" />
            </td>
        </tr>
    </table>
</form>

