
@{
    ViewData["Title"] = "Dodaj";
}

<h2>Dodaj</h2>
<form action="/ModulAdministracija/Pogodnost/Snimi">
    <table>
        <tr>
            <td>
                Opis
            <td>@Html.TextBox("Opis", null, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>
                <input type="submit"value="Sačuvaj" class="btn btn-success" />
            </td>
        </tr>
    </table>
</form>

