@using Hotel.Data.Models;
@{
    ViewData["Title"] = "Sve pogodnosti";
    List<Pogodnost> pogodnosti = (List<Pogodnost>) ViewData["pogodnosti"];
}
<style>
    #ajaxDiv {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<a href="/ModulAdministracija/Pogodnost/Dodaj" class="btn btn-round btn btn-success" ajax-poziv="da" ajax-rezultat="ajaxDiv">Nova pogodnost</a><br /><br />
<div class="form-group" id="ajaxDiv"></div>

<table class="table table-striped">
    <tr>
        <th>Opis</th>
        <th>Akcija</th>
    </tr>
    @foreach(Pogodnost p in pogodnosti)
    {
        <tr>
            <td>
                @p.Opis
            </td>
            <td><a href="/ModulAdministracija/Pogodnost/Obrisi?id=@p.Id" class="btn btn-primary">Obriši</a>
                <a href="/ModulAdministracija/Pogodnost/Uredi?id=@p.Id" class="btn btn-primary">Uredi</a>
            </td>
        </tr>
    }
</table>


