@using Hotel.Data.Models;
@{
    ViewData["Title"] = "Pogodnosti smještaja";
    List<PogodnostiSmjestaja> temp = (List<PogodnostiSmjestaja>)ViewData["p"];
    int smjestajID = (int)ViewData["smjestajID"];
}
<style>
    #ajaxDiv {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<a href="/ModulAdministracija/Pogodnost/DodajPogodnostZaSmjestaj?smjestajID=@smjestajID" class="btn btn-round btn btn-success" ajax-poziv="da" ajax-rezultat="ajaxDiv">Nova pogodnost</a><br /><br />
<div class="form-group" id="ajaxDiv"></div>

<form>
    <table class="table table-striped">
        <tr>
            <th>Pogodnost</th>
            <th>Akcija</th>
        </tr>
        @foreach(PogodnostiSmjestaja p in temp)
        {
            <tr>
                <td>@p.Pogodnost.Opis</td>
                <td><a href="/ModulAdministracija/Pogodnost/ObrisiPogodnostZaSmjestaj?id=@p.Id" class="btn btn-primary">Obriši</a></td>
            </tr>

        }
    </table>
</form>

