@using Hotel.Data.Models;
@{
    ViewData["Title"] = "Upravljanje pogodnostima smještaja";
}
@model Hotel.Web.Areas.ModulAdministracija.ViewModels.NovaPogodnostVM

<style>

    .divKlasa {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    b {
        display: inline-block;
        width: 150px;
    }

    .tdPolje {
        text-align: right;
        padding-right: 10px;
    }

    .tdValidacija {
        padding-left: 10px;
    }

    .validacija span {
        display: inline-block;
        width: 300px;
    }

    .form-control {
        width: 250px;
    }
</style>

<div class="divKlasa">
    <form action="/ModulAdministracija/Pogodnost/Snimi">
        <table>
            <tr>
                <td>
                    @Html.HiddenFor(x => x.Id)
                </td>
            </tr>
            <tr>
                <td class="tdPolje"><b>Opis:</b></td>
                <td>@Html.TextBoxFor(x => x.Opis, new { @class = "form-control" })</td>
                <td class="tdValidacija"><span class="validacija" style="color:red">@Html.ValidationMessageFor(x => x.Opis)</span></td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Sačuvaj" class="btn btn-round btn btn-success" style="margin-left:215px;width:20%;" />

    </form>
</div>
