@using Hotel.Data.Models;
@{
    ViewData["Title"] = "Uredi";
}
@model Hotel.Web.Areas.ModulAdministracija.ViewModels.NovaPogodnostVM

<h2>Uredi</h2>

<form action="/ModulAdministracija/Pogodnost/Snimi">
    <table>
        <tr>
            <td>
                @Html.HiddenFor(x=>x.Id)
            </td>
        </tr>
        <tr>
            <td>Opis</td>
            <td>@Html.TextBoxFor(x=>x.Opis,new {@class= "form-control" })</td>
            <td><span style="color:red">@Html.ValidationMessageFor(x=>x.Opis)</span></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Sačuvaj" class="btn btn-success" />
            </td>
        </tr>
    </table>
</form>

