@{
    ViewData["Title"] = "Home Page";
}

<h1>RSI Seminarski</h1>

<a href="/ModulOdrzavanje/Index" class="btn btn-danger">Modul Odrzavanje</a><br /><br />
<a href="/ModulRecepcija/Index" class="btn btn-danger">Modul Recepcije</a>
<hr />
<a href="/ModulAdministracija/Zaposlenik/PrikaziZaposlenike" class="btn btn-danger">Upravljanje zaposlenicima </a><br /><br />
<a href="/ModulAdministracija/UslugeHotela/PrikaziUslugeHotela" class="btn btn-danger">Upravljanje uslugama hotela </a><br /><br />
<a href="/ModulAdministracija/Smjestaj/PrikaziSmjestaj" class="btn btn-danger">Upravljanje smještajem </a><br /><br />
<a href="/ModulAdministracija/Pogodnost/Prikazi" class="btn btn-danger">Upravljanje pogodnostima </a><br /><br />
<a href="/ModulAdministracija/CheckIn/PrikaziCheckIne" class="btn btn-danger">Upravljanje CheckInom </a><br /><br />
<a href="/ModulAdministracija/Gost/PrikaziGoste" class="btn btn-danger">Upravljanje gostima </a><br /><br />
<a href="/ModulAdministracija/Proizvod/PrikaziProizvode" class="btn btn-danger">Upravljanje proizvodima </a><br /><br />
<a href="/ModulAdministracija/Narudzba/PrikaziNarudzbe" class="btn btn-danger">Upravljanje narudzbama </a><br /><br />
<hr />
<a href="/ModulRestoran/Proizvod/PrikaziZalihe" class="btn btn-danger">Upravljanje zalihama </a><br /><br />
<a href="/ModulRestoran/Dostava/PrikaziDostave" class="btn btn-danger">Upravljanje dostavama </a><br /><br />
