@{
    ViewData["Title"] = "Home Page";
}

<h1>RSI Seminarski</h1>


<hr />
<a href="/ModulAdministracija/Zaposlenik/PrikaziZaposlenike" class="btn btn-danger">Upravljanje zaposlenicima </a><br /><br />
<a href="/ModulAdministracija/UslugeHotela/PrikaziUslugeHotela" class="btn btn-danger">Upravljanje uslugama hotela </a><br /><br />
<a href="/ModulAdministracija/Smjestaj/PrikaziSmjestaj" class="btn btn-danger">Upravljanje smještajem </a>
<a href="/ModulAdministracija/Zaposlenik/PrikaziZaposlenike" class="btn btn-danger">Upravljanje zaposlenicima </a>
<a href="/ModulOdrzavanje/Narudzba/PrikaziNarudzbe" class="btn btn-danger">Upravljanje narudzbama </a>