@model Hotel.Web.Areas.ModulRecepcija.ViewModels.FeedbackIndexVM
@{
    ViewData["Title"] = "Utisci o boravku (Feedbacks)";
}

<table class="table table-striped">

    <thead>
        <tr>
            <th>CheckIN</th>
            <th>Gost</th>
            <th>Sadrzaj</th>
            <th>Akcija</th>
           

        </tr>



    </thead>



    <tbody>
        @foreach (var i in Model.feedbaci)
        {
            <tr>

                <td>@i.CheckIN</td>
                <td>@i.Gost</td>
                <td><textarea readonly>@i.Sadrzaj</textarea></td>
             

                <td>

                  
                    @Html.ActionLink("Detalji Check-Ina", "Detalji", "CheckIN",new {Id=i.CheckINId }, new { @class = "btn btn-primary" })
                   
                </td>




            </tr>
        }
    </tbody>
</table>


