@model Hotel.Web.Areas.ModulRecepcija.ViewModels.DodajNarudzbuVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Dodaj narudžbu";
}


<form asp-action="DodajNarudzbu" asp-controller="Narudzba" method="post">

    <div class="form-group">
        <label>Opis:</label>
        <input asp-for="Opis" class="form-control" />

    </div>

    <div class="form-group">
        <label>Datum Kreiranja:</label>
        <input type="date" asp-for="DatumKreiranja" class="form-control" />

    </div>

    <div class="form-group">
        <label>Hitnost:</label>
        <select asp-for="Hitnost" class="form-control">
            <option>Mala</option>
            <option>Srednja</option>
            <option>Visoka</option>

        </select>
     

    </div>

    <div class="form-group-sm">
        <input type="submit" value="Snimi" class="btn btn-primary" />
    </div>

</form>

