
@{
    ViewData["Title"] = "Index";
}
<h2>HomePage Modula za Odrzavanje</h2>


@Html.ActionLink("Prikazi Narudzbe", "PrikaziNarudzbe", "Narudzba", new { }, new { @class = "btn btn-primary" })
@Html.ActionLink("Prikazi Proizvode", "Index","Proizvod", new { }, new { @class = "btn btn-primary" })
