@model Hotel.Web.Areas.ModulRecepcija.ViewModels.ProizvodDodajVM
@{
    ViewData["Title"] = "Uredi proizvod ";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers


<form asp-action="Edit" asp-controller="Proizvod" method="post">

    <input asp-for="ID" hidden />

    <div class="form-group">
        <label>Naziv:</label>
        <input asp-for="Naziv" class="form-control" />
        <span style="color:red">@Html.ValidationMessageFor(x => x.Naziv)</span>
    </div>

    <div class="form-group">
        <label>Cijena:</label>
        <input asp-for="Cijena" class="form-control" />
        <span style="color:red">@Html.ValidationMessageFor(x => x.Cijena)</span>
    </div>


    <div class="form-group">
        <label>Vrsta:</label>
        <select asp-for="Vrsta" class="form-control">
            <option value="">Odaberite vrstu</option>
            <option>Hrana</option>
            <option>Piće</option>
            <option>Namirnica</option>
            <option>Sredstvo za čišćenje</option>
        </select>
        <span style="color:red">@Html.ValidationMessageFor(x => x.Vrsta)</span> 
    </div>


    <input type="submit" value="Snimi" class="btn btn-primary" />


</form>

