
@{
    ViewData["Title"] = "Početna";
}

@*<a href="/ModulAdministracija/Zaposlenik/PrikaziZaposlenike" class="btn btn-danger">Upravljanje zaposlenicima </a><br /><br />
<a href="/ModulAdministracija/UslugeHotela/PrikaziUslugeHotela" class="btn btn-danger">Upravljanje uslugama hotela </a><br /><br />
<a href="/ModulAdministracija/Smjestaj/PrikaziSmjestaj" class="btn btn-danger">Upravljanje smještajem </a><br /><br />
<a href="/ModulAdministracija/Pogodnost/Prikazi" class="btn btn-danger">Upravljanje pogodnostima </a><br /><br />
<a href="/ModulAdministracija/CheckIn/PrikaziCheckIne" class="btn btn-danger">Upravljanje CheckInom </a><br /><br />
<a href="/ModulAdministracija/Gost/PrikaziGoste" class="btn btn-danger">Upravljanje gostima </a><br /><br />
<a href="/ModulAdministracija/Proizvod/PrikaziProizvode" class="btn btn-danger">Upravljanje proizvodima </a><br /><br />
<a href="/ModulAdministracija/Narudzba/PrikaziNarudzbe" class="btn btn-danger">Upravljanje narudzbama </a><br /><br />
<a href="/ModulAdministracija/Dostava/PrikaziDostave" class="btn btn-danger">Upravljanje dostavama </a><br /><br />*@

<div class="x_content" style="position:relative;">
    <div class="panel-body">
        <div class="icon-grid">
            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulAdministracija/Zaposlenik/PrikaziZaposlenike" style="display:block;text-align:center;" title="Zaposlenici"><i class="fa fa-user fa-5x" id="1" title="Zaposlenici" aria-hidden="true"></i></a>
                <hr style="border-color:white;" />
                <a href="/ModulAdministracija/Zaposlenik/PrikaziZaposlenike"  title="Zaposlenici" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                    Zaposlenici
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulAdministracija/UslugeHotela/PrikaziUslugeHotela" style="display:block;text-align:center;" title="Usluge hotela"><i class="fa fa-calendar-check-o fa-5x" id="2" aria-hidden="true"></i></a>
                <hr style="border-color:white;" />
                <a href="/ModulAdministracija/UslugeHotela/PrikaziUslugeHotela" title="Usluge hotela" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                    Usluge hotela
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulAdministracija/Smjestaj/PrikaziSmjestaj" style="display:block;text-align:center;" id="3" title="Smještaj i pogodnosti"><i class="fa fa-bed fa-5x" aria-hidden="true"></i></a>
                <hr style="border-color:white;" />
                <a href="/ModulAdministracija/Smjestaj/PrikaziSmjestaj"  title="Smještaj i pogodnosti" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                    Smještaj i pogodnosti
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulAdministracija/CheckIn/PrikaziCheckIne" style="display:block;text-align:center;" id="4" title="Check In"><i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i></a>
                <hr style="border-color:white;" />
                <a href="/ModulAdministracija/CheckIn/PrikaziCheckIne" title="Check In" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                    Check In
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulAdministracija/Gost/PrikaziGoste" id="4" style="display:block;text-align:center;" title="Gosti"> <i class="fa fa-users fa-5x" aria-hidden="true"></i></a>
                <hr style="border-color:white; " />
                <a href="/ModulAdministracija/Gost/PrikaziGoste" title="Gosti" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                    Gosti
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulAdministracija/Proizvod/PrikaziProizvode" style="display:block;text-align:center;" id="5" title="Proizvodi"><i class="fa fa-cutlery fa-5x" aria-hidden="true"></i></a>
                <hr style="border-color:white; " />
                <a href="/ModulAdministracija/Proizvod/PrikaziProizvode" title="Proizvodi" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                    Proizvodi
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulAdministracija/Narudzba/PrikaziNarudzbe" style="display:block;text-align:center;" id="3" title="Narudžbe"> <i class="fa fa-glass fa-5x" aria-hidden="true"></i></a>
                <hr style="border-color:white;" />
                <a href="/ModulAdministracija/Narudzba/PrikaziNarudzbe" class="text-center" title="Narudžbe" style="display:block; margin-top:-24px;  font-size:18px;">
                    Narudžbe
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6" style="min-height:165px;">
                <a href="/ModulAdministracija/Dostava/PrikaziDostave" style="display:block;text-align:center;" id="3" title="Dostave"> <i class="fa fa-coffee fa-5x" aria-hidden="true"></i></a>
                <hr style="border-color:white;" />
                <a href="/ModulAdministracija/Dostava/PrikaziDostave" title="Dostave" class="text-center" style="display:block; margin-top:-24px;  font-size:18px;">
                    Dostave
                </a>
            </div>
        </div>
    </div>
</div>
