@model Hotel.Web.Areas.ModulRecepcija.ViewModels.TipUslugeDodajVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Dodaj Tip usluge";
}

<form asp-action="Dodaj" asp-controller="TipUsluge" method="post">

    <div class="form-group">
        <label>Naziv:</label>
        <input asp-for="Naziv" class="form-control" />
        <span asp-validation-for="Naziv" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Cijena:</label>
        <input asp-for="Cijena" class="form-control" />
        <span asp-validation-for="Cijena" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" value="Spasi" class="btn btn-primary" />


</form>
