@model Hotel.Web.Areas.ModulRecepcija.ViewModels.DostavaDodajStavkuVM

@{
    ViewData["Title"] = "Dodaj stavku";
    
}


<form asp-action="DodajStavku" asp-controller="Dostava" method="post">

    <input type="text" value="@Model.DostavaId" asp-for="DostavaId" hidden />
    <input type="text" value="@Model.RezervisanSmjestajId" asp-for="RezervisanSmjestajId" hidden />



    <div class="form-group">
        <label>Proizvod</label>
        <select asp-for="ProizvodId" class="form-control">
            @foreach (var i in Model.Proizvodi)
            {
                <option value="@i.Id">@i.Naziv</option>
            }

        </select>
    </div>


    <div class="form-group">
        <label>Kolicina</label>
        <input class="form-control" asp-for="Kolicina" min="1"/>
        <span asp-validation-for="Kolicina" class="text-danger"></span>
    </div>


    <input type="submit" value="Spasi stavku" class="btn btn-primary" />

</form>