@model Hotel.Web.Areas.ModulRecepcija.ViewModels.DostavaIndexVM
@{
    ViewData["Title"] = "Index";
}

<h2>Dostave</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Datum</th>
            <th>Zavrsena</th>
            <th>Rezervisan smjestaj</th>
           
        </tr>
    </thead>

        <tbody>
            @foreach (var item in Model.dostave)
    {
            <tr>
                <td>@item.Datum</td>
                <td>@(item.Zavrsena ?"Da":"Ne")</td>
                <td>@item.RezervisanSmjestaj</td>
              

            </tr>
}


        </tbody>

</table>

