@model Hotel.Web.Areas.ModulRecepcija.ViewModels.DostavaIndexVM
@{
    ViewData["Title"] = "Index";
}

<h2>Dostave</h2>
<br />
<table class="table table-striped">

    <thead>
        <tr>
            <th>Rezervisan smjestaj</th>
            <th>Broj stavki</th>
            <th>Datum</th>
            <th>Zavrsena</th>


        </tr>
    </thead>

        <tbody>
            @foreach (var item in Model.dostave)
    {
            <tr>
                <td>@item.RezervisanSmjestaj</td>
                <td>@item.BrojStavki</td>
                <td>@item.Datum</td>
                <td>@(item.Zavrsena ? "Da" : "Ne")</td>



            </tr>
}


        </tbody>

</table>

