@model Hotel.Web.Areas.ModulRecepcija.ViewModels.RezervisanaUslugaDodajVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Dodaj uslugu";
}


<form asp-action="Dodaj" asp-controller="RezervisanaUsluga" method="post">

    <div class="form-group">
        <label>Rezervacija: </label>
        <input class="form-control" asp-for="Rezervacija" readonly/>
    </div>
    <div class="form-group">
        <label>Datum: </label>
        <input class="form-control" asp-for="Datum" readonly/>
    </div>
    <div class="form-group">
        <label>Gost: </label>
        <input class="form-control" asp-for="Gost" readonly/>
    </div>
    <input asp-for="CheckINId" value="@Model.CheckINId" hidden/>
    <div>
        <label>Usluga hotela:</label>
        @Html.DropDownListFor(x => x.UslugaId, Model.UslugeHotela, "Odaberite uslugu hotela", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UslugaId, "", new { @class = "text-danger" })
    </div>
     <br />

    <input type="submit" value="Spasi" class="btn btn-primary" />
</form>
