@model Hotel.Web.Areas.ModulRecepcija.ViewModels.RezervisanaUslugaIndexVM
@{
    ViewData["Title"] = "Rezervisane usluge";
}


<table class="table table-striped">

    <thead>
        <tr>
            <th>Check IN</th>
            <th>Usluga Hotela</th>
            <th>Akcija</th>



        </tr>



    </thead>



    <tbody>
        @foreach (var i in Model.usluge)
        {
            <tr>

                <td>@i.CheckIN</td>
                <td>@i.UslugeHotela</td>
               


                <td>

                   
                    @Html.ActionLink("Obrisi", "Obrisi", "RezervisanaUsluga", new { Id = i.Id }, new { @class = "btn btn-danger" })

                </td>




            </tr>
        }
    </tbody>
</table>

