@model  Hotel.Web.Areas.ModulRecepcija.ViewModels.RezervisanSmjestajUcitajGosteNaSmjestajuVM
@{
    ViewData["Title"] = "UcitajGosteNaSmjestaju";
}
<h2>Gosti na smještaju</h2>
<table class="table table-hover">
    <thead>
        <tr><th>Gost: </th></tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Gosti)
    {
        <tr>
            <td>@i.Text</td>
        </tr>
   }


    </tbody>
</table>