@model Hotel.Web.Areas.ModulRecepcija.ViewModels.GostIndexVM.Row
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Detalji";
}


<h2>Detalji gosta</h2>
<br />
<form asp-action="Detalji" asp-controller="Gost" method="post">
    <div>
        <label>Ime i prezime:</label>
        <input asp-for="ImePrezime" class="form-control" readonly />
      
    </div>

    
    <div>
        <label>Grad:</label>
        <input asp-for="Grad" class="form-control" readonly/>

    </div>
    <div>
        <label>Broj pasoša:</label>
        <input asp-for="BrojPasosa" class="form-control" readonly />
     
    </div>
    <div>
        <label>Državljanstvo:</label>
        <input asp-for="Drzavljanstvo" class="form-control" readonly />
       
    </div>
    <div>
        <label>Datum rodenja:</label>
        <input asp-for="DatumRodenja" class="form-control" readonly/>

    </div>

    <div>
        <label>Telefon:</label>
        <input asp-for="Telefon" class="form-control" readonly/>
       
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Email" class="form-control" readonly/>
      
    </div>
    <div>
        <label>Spol:</label>
        <input asp-for="Spol" class="form-control" readonly />

    </div>

    <input asp-for="ImeAkcije" hidden />
    <input asp-for="ImeKontrolera" hidden />
    <input asp-for="IdPozivatelja" hidden/>
    <input type="submit" value="Zatvori" class="btn btn-primary" />
</form>
