@model Hotel.Web.Areas.ModulRecepcija.ViewModels.GostIndexVM.Row
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Detalji";
}


<h2>Detalji Gosta</h2>

<form asp-action="Detalji" asp-controller="Gost" method="post">
    <div>
        <label>Ime:</label>
        <input asp-for="Ime" class="form-control" />
        <span asp-validation-for="Ime" class="text-danger"></span>
    </div>

    <div>
        <label>Prezime:</label>
        <input asp-for="Prezime" class="form-control" />
        <span asp-validation-for="Prezime" class="text-danger"></span>
    </div>
    <div>
        <label>Grad:</label>
        <input asp-for="Grad" class="form-control" />

    </div>
    <div>
        <label>Broj Pasosa:</label>
        <input asp-for="BrojPasosa" class="form-control" />
        <span asp-validation-for="BrojPasosa" class="text-danger"></span>
    </div>
    <div>
        <label>Drzavljanstvo:</label>
        <input asp-for="Drzavljanstvo" class="form-control" />
        <span asp-validation-for="Drzavljanstvo" class="text-danger"></span>
    </div>
    <div>
        <label>Datum Rodenja:</label>
        <input asp-for="DatumRodenja" class="form-control" />

    </div>

    <div>
        <label>Telefon:</label>
        <input asp-for="Telefon" class="form-control" />
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label>Spol:</label>
        <input asp-for="Spol" class="form-control" />

    </div>

    <input asp-for="ImeAkcije" hidden />
    <input asp-for="ImeKontrolera" hidden />
    <input asp-for="IdPozivatelja" hidden/>
    <input type="submit" value="Zatvori" class="btn btn-primary" />
</form>
