@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model Hotel.Web.Areas.ModulRecepcija.ViewModels.CheckINCheckOutVM
@{
    ViewData["Title"] = "CheckOut";
}
<br /><br />
<div class="modal-header">
    <h2>Check Out Gosta</h2>

</div>
<form>
    <div class="col-sm-3 my-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Iznos za platit</div>
            </div>
            <input asp-for="Iznos" class="form-control"  />
        </div>
    </div>

</form>

<br />

    <h3>Pošaljite Zahtjev za čišćenjem</h3>

    <form class="form " asp-controller="ZahtjevZaCiscenjem" asp-action="PosaljiZahtjevZaCiscenjem" method="post">
        <input asp-for="CheckInId" hidden value="@Model.CheckInId" />
        <input asp-for="Iznos"  hidden />
        <div class="form-group">
            <label>Prioritet</label>
            <select asp-for=Prioritet class="form-control">

                <option>Visok</option>
                <option>Srednji</option>
                <option>Nizak</option>

            </select>

        </div>
        <div class="form-group">
            <label>Opis</label>
            <input asp-for="Opis" class="form-control" />
        </div>
        <input type="submit" value="Posalji Zahtjev" class="btn btn-success" />

    </form>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>

</div>
