@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model Hotel.Web.Areas.ModulRecepcija.ViewModels.CheckINCheckOutVM
@{
    ViewData["Title"] = "CheckOut";
}
<h2>Check Out</h2>
<div class="form-group">
    <label>Iznos za platit</label>
    <input asp-for="Iznos" />
</div>

@Html.ActionLink("Plati racun", "Dodaj", "Racun", new { CheckInId =Model.CheckInId,suma=Model.Iznos},new { @class="btn-default" })